.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
    height: 1000px;
    width: 1000px;
    margin-top: 50px;
    position: relative;
    overflow: hidden;

    
}

.row{
    display: flex;
    
}

#label{
    color: white;
}
.grid-square{
    background-color: black;
    outline: 1px solid rgb(5, 5, 5);
    box-sizing: border-box;



}


.size-selector{
    width: 100vw;
    height: 100px;
    background-color: rgb(112, 109, 115);
    text-align: center;

}

